a {
    color: black;
    text-decoration: underline;
}

body {
    font: verdana;
}
.centralViz {
    padding: 50px;
}

.navBar { 
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: lightblue;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

h1 {
    margin: 30px;
}

h2 {
    margin: 30px;
}

p {
    margin: 30px;
}