a {
    color: black;
    text-decoration: underline;
}

.a-visual-exploration {	
    color: #232323;	
    font-family: Verdana;	
    font-size: 18px;	
    line-height: 22px;
}

.activated {
        height: 3px;
        background-color: rgba(255,255,255,0.5);
}

body {
    font: verdana;
}

.centralText {
    padding-left: 17%;
    padding-right: 15%;
    padding-top: 70px;
}

.centralViz {
    padding-left: 17%;
    padding-right: 15%;
    padding-top: 70px;
}

.democracy {	
    color: #293E67;	
    font-family: Georgia;	
    font-size: 50px;	
    font-style: italic;	
    font-weight: bold;	
    letter-spacing: -0.3px;	
    line-height: 57px;	
    text-align: center;
}

.equalBoxL {
    width: 50%;
    padding-left: 17%;
    padding-right: 4%;
    border-right-style: solid;
    border-right-color: #D5F1F5;
}

.equalBoxR {
    width: 50%;
    padding-left: 4%;
    padding-right: 20%;
}

footer {
    background-color: lightgray;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

h1 {		
    color: #232323;	
    font-family: Verdana;	
    font-size: 36px;	
    font-weight: bold;	
    line-height: 44px;
}

h2 {
    color: #232323;	
    font-family: Verdana;	
    font-size: 30px;	
    line-height: 36px;
    padding-top: 30px;
    padding-bottom: 10px;
}

h3 {	
    color: #232323;	
    font-family: Verdana;	
    font-size: 22px;	
    line-height: 27px;
}

.links {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

.miniNav {
    display: flex;
    justify-content: flex-start;
}

.miniNav a {
    color: blue;
}

.navBar { 	
    width: 100%;	
    background-color: #293E67;
    color: #FFFFFF;	
    display: flex;
    height: 90px;
}

.navBar a {
    color: white;
    text-decoration: none;
}


.otherNav a {
    color: blue;
}

.rectangle {	
    height: 100px;	
    width: 100%;	
    background-color: #D5F1F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.staticViz {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.staticVizImage {
    width: 47%;
}

.topline { 
    width: 100%;	
    background-color: #293E67;
    height: 17px;
    width: 71px;
    color: #E3E3E3;
    font-family: Verdana;
    font-size: 14px;
    line-height: 10px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .centralText {
        padding-top: 30px;
        padding-left: 5%;
        padding-right: 5%;
    }
    
    .centralViz {
        padding-top: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .rectangle {	
        height: 100px;	
        width: 100%;	
        background-color: #D5F1F5;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tableauPlaceholder {
        width: 100%;
    }
  }